body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
}

.temperature-converter {
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.title {
    margin-bottom: 20px;
}

.degree-type {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
